<header class="cabecalho">
    <div class="cabecalho-container">
        <a [routerLink]="['/home']" class="cabecalho-botao-home">
            <img src="/assets/logo.png" alt="Logo da Wecare" class="cabecalho-imagem">
        </a>
        <a [routerLink]="['/perfil']" class="cabecalho-botao-perfil">
            <span class="material-symbols-rounded">
                contract_edit
            </span>
            <p class="cabecalho-botao-label">
                Consultas
            </p>
        </a>
    </div>
</header>