<header class="cabecalho">
    <div class="cabecalho-container">
        <a href="/pages/home.html" class="cabecalho-botao-home">
            <img src="/assets/logo.png" alt="Logo da Wecare" class="cabecalho-imagem">
        </a>
        <a href="/pages/profile.html" class="cabecalho-botao-perfil">
            <span class="material-symbols-rounded">
                account_circle
            </span>
            <p class="cabecalho-botao-label">
                Perfil
            </p>
        </a>
    </div>
</header>