@import '../../dist/variables.scss';

.right-options {
    display: flex;
    align-items: right;
    text-align: right;
    gap: 15px;
    padding-left: 77%;
}

.logo{
    img{
        height: 60px;
        width: 60px;
    }
}

a {
    text-decoration: none;
    color: $off-button-color;
    transition: color 0.3s ease;
}
a:hover {
    color: $hover-button-color; /* Altere a cor de destaque conforme necessário */
}

header{
    display: flex;
    justify-content: flex;
    align-items: center;
    height: 70px;
    max-width: 100%;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
    gap: 15px;
}

.left-options {
    display: flex;
    text-align: left;
    gap: 15px;
}

footer {
    background-color: $hover-button-color;
    padding: 20px;
    text-align: center;
  }

  p {
    margin: 0;
  }