<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LogIN</title>
        <link rel="stylesheet" href="../../../styles.scss">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
        <link rel="icon" href="./assets/logo-mini.png" type="image/x-icon">
        <link rel="shortcut icon" href="/assets/logo-mini.png" type="image/x-icon">
    </head>
    <body>
        <header class="cabecalho"></header>
        <main class="login">
            <div class="imagem-background"></div>
            
            <div class="login-conteudo">
                <div class="conteudo">
                    <h1 class="login-titulo">
                        Log <strong class="titulo-destaque1">in</strong>
                    </h1>
                    <form (ngSubmit)="login()">
                    <div class="login-campos">
                        <input type="text" id="usuario" name="usuario" class="campo" class="form-control" placeholder="Usuário" [(ngModel)]="userData.usuario" required>
                        <input type="password" id="senha" name="senha" class="campo" class="form-control" placeholder="Senha" [(ngModel)]="userData.senha" required>
                    </div>
                    <button type="submit" class="login-botao-01">Entrar</button>
                    </form>
                    <div class="login-linkA">
                        <p class="login-info">
                            Não possui conta?
                        </p>
                        <a [routerLink]="['/cadastro']" class="login-cadastro-link">
                            Cadastre-se
                        </a>
                    </div>
                </div>
            </div>
        
        </main>
    </body>
</html>
