<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WeCare - Entrar</title>
        <link rel="stylesheet" href="../../../styles.scss">
        <link rel="icon" href="/assets/logo-mini.png" type="image/x-icon">
    </head>
    <body>
        <main class="login-principal">
            <div class="login-bloco01">
            </div>
            <div class="login-bloco02">
                <h1 class="login-bloco02-titulo">Entrar</h1>
                <form (ngSubmit)="login()">
                    <div class="login-bloco02-campos">
                        <input type="text" id="usuario" name="usuario" class="login-campo" class="form-control" placeholder="Usuário" [(ngModel)]="userData.usuario" required>
                        <input type="password" id="senha" name="senha" class="login-campo" class="form-control" placeholder="Senha" [(ngModel)]="userData.senha" required>
                    </div>
                    <button type="submit" class="login-botao">Entrar</button>
                </form>
                <div class="login-botao-cadastro">
                    <p>Ainda não possui conta?</p>
                    <a [routerLink]="['/cadastro']" class="botao-cadastro">Cadastre-se</a>
                </div>
            </div>
        </main>
    </body>
</html>