<div class="container">
    <div class="form-box">
      <h2>Cadastro</h2>
      <h3>Você é...</h3>
      <button (click)="selectFunction('paciente')">Paciente</button>
      <button (click)="selectFunction('psicologo')">Psicólogo</button>
  
      <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
        <div *ngIf="selectedFunction === 'paciente'">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" formControlName="nome" required>
  
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" required>

          <label for="nome">Usuário:</label>
          <input type="text" id="usuario" formControlName="usuario" required>
  
          <label for="senha">Senha:</label>
          <input type="password" id="senha" formControlName="senha" required>

          <label for="cpf">CPF:</label>
          <input type="text" id="cpf" formControlName="cpf" maxlength="11" required>

          <label for="estado">Estado:</label>
          <input type="text" id="estado" formControlName="estado" >

          <label for="Cidade">Cidade:</label>
          <input type="text" id="cidade" formControlName="cidade" >

          <label for="telefone">Telefone:</label>
          <input type="number" id="telefone" formControlName="telefone" maxlength="11">
        </div>
  
        <div *ngIf="selectedFunction === 'psicologo'">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" formControlName="nome" required>
  
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" required>

          <label for="nome">Usuário:</label>
          <input type="text" id="usuario" formControlName="usuario" required>

          <label for="senha">Senha:</label>
          <input type="password" id="senha" formControlName="senha" required>

          <label for="cpf">CPF:</label>
          <input type="text" id="cpf" formControlName="cpf" maxlength="11" required>
  
          <label for="crp">CRP:</label>
          <input type="text" id="crp" formControlName="crp">

          <label for="estado">Estado:</label>
          <input type="text" id="estado" formControlName="estado" >

          <label for="Cidade">Cidade:</label>
          <input type="text" id="cidade" formControlName="cidade" >

          <label for="telefone">Telefone:</label>
          <input type="number" id="telefone" formControlName="telefone" maxlength="11">
        </div>
  
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
  