<app-header></app-header>

<div class="row">
    <div class="col-md-6"> 
      <h2>Olá {{nomeUsuario}}, seja bem-vindo!</h2>
      
      <button *ngIf="!isPsicologo()" btn btn-primary>Realizar agendamento de sessão</button>

      <button *ngIf="isPsicologo()" btn btn-primary (click)="openSessao()">Disponibilizar sessão para agendamento</button>
    </div>

    <div class="col-md-6">
      <h2 *ngIf="!isPsicologo()">Consultas Agendadas</h2>
      <h2 *ngIf="isPsicologo()">Sessões Agendadas</h2>
      <ul>
        <li>Consulta 1</li>
        <li>Consulta 2</li>
        <li>Consulta 3</li>
      </ul>
    </div>
  </div>
