  <!--    <mat-list *ngIf="!isPsicologo()">
        <mat-list-item *ngFor="let item of listaAgendamentos">
          <span matListItemTitle>Data: {{item.data}}</span>
          <span matListItemLine>Profissional: {{item.nome}}</span>
          <span matListItemLine>Valor: {{item.valor}}</span>
        </mat-list-item>
      </mat-list>

      <h2 *ngIf="isPsicologo()">Sessões Agendadas</h2>  
      
      <mat-list *ngIf="isPsicologo()">
        <mat-list-item *ngFor="let item of listaAgendamentos">
          <span matListItemTitle>Data: {{item.data}}</span>
          <span matListItemLine>Paciente: {{item.nome}}</span>
          <span matListItemLine>Valor: {{item.valor}}</span>
          <button mat-raised-button color="primary" (click)="openConsulta(item.id, item.data, item.nome, item.valor)">Realizar Consulta</button>
        </mat-list-item>
      </mat-list>
    -->



<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WeCare - Home</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,300,1,0" />
        <link rel="stylesheet" href="../../../styles.scss">
        <link rel="icon" href="/assets/logo-mini.png" type="image/x-icon">
    </head>
    <body>
      <app-header></app-header>
        <main class="home-principal">
            <div class="home-bloco01">
                <h1 class="bloco01-titulo">
                    Bem vind@ ao <strong class="destaque">We</strong><strong class="destaque">Care</strong>
                </h1>
                <!--Alterar texto de descrição para se adequar à proposta do projeto
                <p class="bloco01-texto">
                    
                </p>-->
                <div class="bloco01-botoes">
                  <button class="bloco01-botao" *ngIf="!isPsicologo()" btn btn-primary (click)="addAgendamento()">Agendar nova consulta</button>
                  <button class="bloco01-botao" *ngIf="isPsicologo()" btn btn-primary (click)="openSessao()">Disponibilizar sessão</button>
                </div>
            </div>
            <div class="home-bloco02">
                <h1 *ngIf="!isPsicologo()" class="bloco02-titulo">
                    Consultas marcadas
                </h1>
                <h1 *ngIf="isPsicologo()" class="bloco02-titulo">
                    Sessões agendadas
                </h1>
                <!--Usar implementação em JavaScript para geração de uma tabela conforme os dados de cada usuário. A inserção de forma manual é pouco eficaz.-->
                <div class="bloco02-tabela-consultas tabela-consultas">
                    <table class="tabela" *ngIf="isPsicologo()">
                        <tr class="tabela-linha">
                            <th class="tabela-cabecalho">
                                Data da consulta
                            </th>
                            <th class="tabela-cabecalho">
                                Nome do paciente
                            </th>
                            <th class="tabela-cabecalho">
                                Valor da consulta
                            </th>
                            <th class="tabela-cabecalho">
                                Status
                            </th>
                        </tr>
                        <tr class="tabela-linha" *ngFor="let item of listaAgendamentos">
                            <td class="tabela-celula">
                                {{item.data}}
                            </td>
                            <td class="tabela-celula">
                                {{item.nome}}
                            </td>
                            <td class="tabela-celula">
                                R$ {{item.valor}}
                            </td>
                            <td class="tabela-celula">
                                <button  (click)="openConsulta(item.id, item.data, item.nome, item.valor)">Realizar Consulta</button>
                            </td>
                        </tr>
                    </table>
                    <table class="tabela" *ngIf="!isPsicologo()">
                        <tr class="tabela-linha">
                            <th class="tabela-cabecalho">
                                Data da consulta
                            </th>
                            <th class="tabela-cabecalho">
                                Nome do Profissional
                            </th>
                            <th class="tabela-cabecalho">
                                Valor da consulta
                            </th>
                        </tr>
                        <tr class="tabela-linha"  *ngFor="let item of listaAgendamentos">
                            <td class="tabela-celula">
                                {{item.data}}
                            </td>
                            <td class="tabela-celula">
                                {{item.nome}}
                            </td>
                            <td class="tabela-celula">
                                R$ {{item.valor}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
        <app-footer></app-footer>
    </body>
</html>
