@import '../abstract/functions';
@import '../abstract/variables';

.login-principal { 
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: $branco-sal;
    
    .login-bloco01 {
        flex: 4;
        background-image: url('/assets/bg-1.png');
        background-size: cover;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .login-bloco02 {
        flex: 6;
        @include estilo-flexbox(column, center, none, 5rem, 20px);

        .login-bloco02-titulo {
            align-self: flex-start;
            @include estilo-texto ($verde-mantis, 3em, 800);
            text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
        }

        .login-bloco02-campos {
            width: 100%;
            @include estilo-flexbox (column, center, none, none, 20px);

            .login-campo {
                @include estilo-texto ($preto, .8em, 600);
                padding: .8rem 1rem;
                width: 95%;
                border: 2px solid $branco-frances;
                border-radius: 15px;
                background-color: $branco-sal
            }
        }

        .login-esqueceu-senha {
            @include estilo-texto ($preto, .8em, 500);
            padding: 0 .7rem;
            text-decoration: none;
            align-self: flex-end;
        }

        .login-esqueceu-senha:hover {
            text-decoration: underline;
        }

        .login-botao {
            @include etilo-botao-ancora (center, 1rem 1.5rem, none, $azul-glacial, fit-content, 30px);
            @include estilo-texto ($preto, 1em, 700);
            align-self: flex-end;
            text-decoration: none;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            transition: .4s;
        }

        .login-botao:hover {
            @include estilo-texto ($branco-sal, 1em, 700);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        }

        .login-botao-cadastro {
            @include estilo-flexbox (row, none, none, none, 10px);
            align-self: center;
            @include estilo-texto ($preto, 1em, 500);

            .botao-cadastro {
                @include estilo-texto ($verde-mantis, 1em, 700);
            }
        }
    }
}