@import '../abstract/functions';
@import '../abstract/variables';

.cadastro-principal {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    width: 100vw;
    background-color: $branco-sal;

    .cadastro-bloco01 {
        flex: 4;
        background-image: url('/assets/bg-1.png');
        background-size: cover;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2);
    }

    .cadastro-bloco02 {
        flex: 6;
        @include estilo-flexbox(column, center, none, 5rem, 20px);
        width: 100%;

        .cadastro-bloco02-titulo {
            align-self: flex-start;
            @include estilo-texto ($azul-glacial, 3em, 800);
            text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }

        .bloco02-selecao {
            width: 100%;
            @include estilo-flexbox (row, space-between, none, none, 30px);

            .bloco02-selecao-botao {
                @include estilo-texto ($preto, 1rem, 700);
                text-align: center;
                padding: 1rem;
                width: 100%;
                background-color: transparent;
                text-decoration: none;
                cursor: pointer;
                border-radius: 20px;
            }

            .bloco02-selecao-botao:hover {
                background-color: $verde-aspargo;
                transition: 0.5s;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            }

            .bloco02-selecao-botao:focus {
                background-color: $verde-aspargo;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            }
        }

        .cadastro-bloco02-campos {
            width: 100%;
            @include estilo-flexbox (row, center, none, none, 20px);

            .cadastro-bloco02-campos-colunas {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .cadastro-campo {
                    padding: .8rem 1rem;
                    width: 90%;
                    @include estilo-texto ($preto, .8em, 600);
                    border: 2px solid $branco-frances;
                    border-radius: 15px;
                    background-color: $branco-sal
                }
            }          
        }
        
        .cadastro-botao {
            @include etilo-botao-ancora (center, 1rem 1.5rem, none, $verde-mantis, fit-content, 30px);
            @include estilo-texto ($preto, 1em, 700);
            align-self: flex-end;
            text-decoration: none;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            transition: .4s;
        }

        .cadastro-botao:hover {
            @include estilo-texto ($branco-sal, 1em, 700);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        }

        .cadastro-botao-login {
            @include estilo-flexbox (row, none, none, none, 10px);
            align-self: center;
            @include estilo-texto ($preto, 1em, 500);

            .botao-login {
                @include estilo-texto ($azul-glacial, 1em, 700);
            }
        }
    }
}