<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body class="modal-01">
    <h1 class="modal-01-titulo">Agendamento de Sessão</h1>
    <h3 class="modal-01-texto">Selecione uma sessão disponível:</h3>
    <h3 class="modal-01-texto">Data: </h3>

    <mat-form-field class="modal01-campo">
    <mat-label></mat-label>
      <mat-select class="modal01-select" [(ngModel)]="dataEscolhida" >
        <mat-option *ngFor="let opcao of sessoes" [value]="opcao.data" (onSelectionChange)="idSessaoEscolhida(opcao.id)">
          {{ opcao.data }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <h3 class="modal-01-texto">
      Profissional: <strong class="texto-destaque">{{nomePsicologoSessaoAgendada}}</strong>
    </h3>
    <h3 class="modal-01-texto">
      Valor: <strong class="texto-destaque">{{valorSessaoAgendada}}</strong>
    </h3>
    
    <div class="modal-01-botoes">
      <button mat-button (click)="addAgendamento()" class="modal-01-botao">
        Agendar Consulta
      </button>
      <button mat-dialog-close="closeAddAgendamento" class="modal-01-botao">
        Descartar
      </button>
    </div>
  </body>
</html>

