<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body class="modal-02">
        <h1 class="modal-02-titulo">Adicionar nova sessão</h1>
        <form class="modal-02-formulario" [formGroup]="addSessaoForm" (ngSubmit)="addSessao()">
            <div class="modal-02-campos">
                <label class="modal-02-nome" for="nome">
                    Profissional: <strong class="texto-destaque">
                        {{nomeUsuario}}
                    </strong>
                </label>

                <div class="modal-02-data">
                    <label class="modal-02-label-data" for="data">
                        Data da sessão:
                    </label>
                    <input class="campo-data" type="datetime-local" id="data" formControlName="dataSessao" required>
                </div>
        
                <div class="modal-02-valor">
                    <label class="modal-02-label-valor" for="valor">
                        Valor (R$):
                    </label>
                    <input class="campo-valor" type="number" id="valor" formControlName="valor" required>
                </div>
            </div>

            <div class="modal-02-botoes">
                <button mat-button (click)="addAgendamento()" class="modal-02-botao">
                    Disponibilizar Sessão
                </button>
                <button mat-dialog-close="closeAddAgendamento" class="modal-02-botao">
                    Descartar
                </button>
            </div>
        </form>
    </body>
</html>

